*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 13px;
  line-height: 7em;
  font-family: arial;
  letter-spacing: 2px;
  text-align: center;
  background-color: white;
}

div h1 {
  font-family: "times new roman", serif;
  color: #000000;
  font-weight: 500;
  font-size: 1.6em;
  letter-spacing: normal;
  text-align: left;
  padding: 45 45;
  line-height: 1em;
  width: 60%;
  float: left;
}

.container {
    background-color: #D6D6D6;
    margin: 40px auto;
    width: 60%;
  }


.baku {
    background-image: url("../images/baku.jpg");
  }


.london {
    background-image: url("../images/london.png");
  }

.madrid {
    background-image: url("images/madrid.jpg");
    background-size: cover;
  }

.rome {
    background-image: url("images/rome.jpg");
  }

.preview {
  width: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 50%;
}




@media screen and (min-width: 575px){
   .div {
    margin: 0;
    width: 100%;
  }
}
